Repository MoonchildProductions/UXP, pull requests merged in 2018-10, with the labels that each got.

#808 [ffmpeg] Always allocate memory to pass extradata
  dom/media/platforms/ffmpeg/FFmpegDataDecoder.cpp
Labels: C: Media, Crash, Platform: Linux

#822 [ffvpx] Remove support for 32-bit Mac
  media/ffvpx/README_MCP
  media/ffvpx/config.h
  media/ffvpx/config_darwin32.h
  media/ffvpx/ffvpxcommon.mozbuild
Labels: C: Media, Code Cleanup

#827 [ffvpx] Remove support for 32-bit Mac
  media/ffvpx/README_MCP
  media/ffvpx/config.h
  media/ffvpx/config_darwin32.h
  media/ffvpx/ffvpxcommon.mozbuild
Labels: C: Media, Code Cleanup

#830 Several WebM/VPX fixes
  dom/media/MediaData.h
  dom/media/platforms/agnostic/VPXDecoder.cpp
  dom/media/platforms/agnostic/VPXDecoder.h
  dom/media/webm/WebMDemuxer.cpp
  dom/media/webm/WebMDemuxer.h
Labels: Verification Needed

#839 remove named function syntax in several TychoAM components
  toolkit/mozapps/extensions/AddonManager.jsm
  toolkit/mozapps/extensions/LightweightThemeManager.jsm
  toolkit/mozapps/extensions/addonManager.js
  toolkit/mozapps/extensions/amInstallTrigger.js
  toolkit/mozapps/extensions/amWebInstallListener.js
Labels: Code Cleanup

#847 Don't use NS_ENSURE_SUCCESS where it causes useless logspam.
  netwerk/base/nsIOService.cpp
  netwerk/base/nsNetUtilInlines.h
Labels: C: Networking, Low Risk
