Repository MoonchildProductions/UXP, pull requests merged in 2018-05, with the labels that each got.

#356 Revert incorrect UAO optimization that broke SSUAO
  netwerk/base/nsILoadGroup.idl
  netwerk/base/nsLoadGroup.cpp
  netwerk/base/nsLoadGroup.h
  netwerk/protocol/http/UserAgentOverrides.jsm
  netwerk/protocol/http/nsHttpChannel.cpp
  netwerk/protocol/http/nsHttpChannel.h
  netwerk/protocol/http/nsHttpHandler.h
  netwerk/protocol/http/nsIHttpProtocolHandler.idl
Labels: Verification Needed

#366 Make SystemResourceMonitor.stop more resilient to errors
  testing/mozbase/mozsystemmonitor/mozsystemmonitor/resourcemonitor.py
Labels: On Hold

#375 [MSE] Add a missing comma in validBoxes
  dom/media/mediasource/ContainerParser.cpp
Labels: Component: Media, Low Risk

#383 [MSE] Correct ADTS frame size calculation
  dom/media/mediasource/ContainerParser.cpp
Labels: Component: Media, Low Risk

#385 Fix null checks in dom/media
  dom/media/ipc/VideoDecoderChild.cpp
  dom/media/ipc/VideoDecoderManagerParent.cpp
  dom/media/ogg/OggCodecState.cpp
Labels: Component: Media, Crash, Critical

#397 Only display SSE2 error dialog on 32-bit Linux
  application/palemoon/confvars.sh
  browser/confvars.sh
Labels: Component: Build System, Platform: Linux
