Repository MoonchildProductions/UXP, pull requests merged in 2018-06, with the labels that each got.

#431 [PALEMOON] Enable update prefs in Unstable branding for Linux
  application/palemoon/branding/unstable/pref/palemoon-branding.js
Labels: App: Pale Moon, Platform: Linux

#501 [PALEMOON] Remove UA override for Google Fonts
  application/palemoon/branding/shared/pref/uaoverrides.inc
Labels: App: Pale Moon, Verification Needed

#515 Correct the browser and platform names in DevTools
  devtools/client/locales/en-US/aboutdebugging.dtd
  devtools/client/locales/en-US/connection-screen.dtd
  devtools/client/locales/en-US/markers.properties
  devtools/client/locales/en-US/performance.dtd
  devtools/client/locales/en-US/performance.properties
  devtools/client/locales/en-US/responsive.properties
  devtools/client/locales/en-US/sourceeditor.properties
  devtools/client/locales/en-US/toolbox.dtd
  devtools/client/locales/en-US/webide.dtd
  devtools/client/locales/en-US/webide.properties
Labels: String Changes

#538 Remove GCC 4.8 workaround in libopus
  media/libopus/celt/rate.c
  media/libopus/gcc-4.8-ICE.patch
  media/libopus/update.sh
Labels: Code Cleanup, Low Risk
